@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "Geist";
  src: url("/public/fonts/GeistVF.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("/public/fonts/Geist-ItalicVF.woff2") format("woff2");
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: "Geist Mono";
  src: url("/public/fonts/GeistMonoVF.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Geist Mono";
  src: url("/public/fonts/GeistMono-ItalicVF.woff2") format("woff2");
  font-weight: 100 900;
  font-style: italic;
}

/* Geist Pixel Square */
@font-face {
  font-family: "Geist Pixel Square";
  src: url("/fonts/GeistPixel-Square.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
}

/* Geist Pixel Grid */
@font-face {
  font-family: "Geist Pixel Grid";
  src: url("/fonts/GeistPixel-Grid.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
}

/* Geist Pixel Circle */
@font-face {
  font-family: "Geist Pixel Circle";
  src: url("/fonts/GeistPixel-Circle.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
}

/* Geist Pixel Triangle */
@font-face {
  font-family: "Geist Pixel Triangle";
  src: url("/fonts/GeistPixel-Triangle.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
}

/* Geist Pixel Line */
@font-face {
  font-family: "Geist Pixel Line";
  src: url("/fonts/GeistPixel-Line.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Geist", sans-serif;
  --font-mono: "Geist Mono", monospace;
  --font-pixel-square: "Geist Pixel Square", monospace;
  --font-pixel-grid: "Geist Pixel Grid", monospace;
  --font-pixel-circle: "Geist Pixel Circle", monospace;
  --font-pixel-triangle: "Geist Pixel Triangle", monospace;
  --font-pixel-line: "Geist Pixel Line", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Helvetica, sans-serif;
}
